body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "(https://fontawesome.com/)";
    font-size: 18px;
}

header{
    background-image: url(../image/bg-header-desktop.png);
    background-color: #f0f8ff;
    padding: 69px;
}
.logo{
    display: flex;
    padding-top: 106px;
    margin-left: 600px;
    margin-bottom: -50px;
}
img.logo-img{
    height: 3opx;
    margin-left: 50px;
    padding-bottom: 80px;
}
button._btn{
    margin-right: 48px;
    padding: 8px 30px;
    border-radius: 17px;
    background: lightseagreen;
    border: 2px solid #fff;
    font-weight: 80;
    color: white;
}
button._btn-b{
    margin-right: 48px;
    padding: 8px 30px;
    border-radius: 17px;
    background: dodgerblue;
    border: 2px solid #fff;
    color: white;
    font-weight: 80;
}
.btn{
    text-align: center;
}
._header{
    margin-left: 480px;
    color: rgb(83, 78, 78);
}
.desc{
    margin-left: 380px;
    color: gray;
}
.desc_b{
    margin-left: 580px;
    margin-top: -20px;
    color: gray;
}
._desc{
    margin-left: 480px;
    margin-top: 120px;
}
.title{
    margin-left: 90px;
    color: rgb(83, 78, 78);
}
.desc-title{
    margin-left: -20px;
    color: grey;
}
.desc-title_b{
    margin-left: 200px;
    color: grey;
    margin-top: -20px;
}
.h_title{
    color: rgb(83, 78, 78);
    margin-top: 50px;
}
.-content-h{
    color: gray;
}
.card-1{
    margin-left: 280px;
    margin-top: 280px;
}
.card-2{
    margin-bottom: 90px;
}
.card-title{
    margin-left: 310px;
    color: rgb(83, 78, 78);
}
.desc-card{
    margin-left: 200px;
    color: grey;
}
.desc-card_b{
    margin-left: 400px;
    color: grey;
    margin-top: -20px;
}

.icon-list{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
    justify-content: space-between;
}
.btn-b{
    text-align: center;
}
.OS-header{
    margin-left: 510px;
    color: rgb(83, 78, 78);
}
.OS-desc{
    margin-left: 380px;
    color: gray;
}
.OS-desc_b{
    margin-left: 530px;
    margin-top: -20px;
    color: gray;
}
.OS-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
}
._footer{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
    
}
.footer-link{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
    justify-content: stretch;
}
.footer-link_b{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
    justify-content: stretch;
}
.icon-list_b{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
    justify-content: stretch;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid#fff;
    margin: 86px 92px;
    box-shadow: 0px 1px 2px 2px #f4f4f4;
    border-radius: 10px;
}

footer{
    background: rgb(243, 239, 239)
}