/* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "(https://fontawesome.com/)";
    font-size: 18px;
}

header{
    background-image: url(../image/bg-header-desktop.png);
    background-color: #f0f8ff;
    padding: 69px;
}
.logo{
    display: flex;
    padding-top: 106px;
    margin-left: 600px;
    margin-bottom: -50px;
}
img.logo-img{
    height: 3opx;
    margin-left: 50px;
    padding-bottom: 80px;
}
button._btn{
    margin-right: 48px;
    padding: 8px 30px;
    border-radius: 17px;
    background: lightseagreen;
    border: 2px solid #fff;
    font-weight: 80;
    color: white;
}
button._btn-b{
    margin-right: 48px;
    padding: 8px 30px;
    border-radius: 17px;
    background: dodgerblue;
    border: 2px solid #fff;
    color: white;
    font-weight: 80;
}
.btn-_b{
    text-align: center;
}
._header{
    margin-left: 480px;
    color: rgb(83, 78, 78);
}
.desc{
    margin-left: 380px;
    color: gray;
}
.desc_b{
    margin-left: 580px;
    margin-top: -20px;
    color: gray;
}
._desc{
    margin-left: 480px;
    margin-top: 120px;
}
.title{
    margin-left: 90px;
    color: rgb(83, 78, 78);
}
.desc-title{
    margin-left: -20px;
    color: grey;
}
.desc-title_b{
    margin-left: 200px;
    color: grey;
    margin-top: -20px;
}
.h_title{
    color: rgb(83, 78, 78);
    margin-top: 50px;
}
.-content-h{
    color: gray;
}
.card-1{
    margin-left: 120px;
    margin-top: 280px;
}
.card-2{
    margin-bottom: 90px;
    margin-left: 150px;
}
.card-title{
    margin-left: 310px;
    color: rgb(83, 78, 78);
}
.desc-card{
    margin-left: 200px;
    color: grey;
}
.desc-card_b{
    margin-left: 400px;
    color: grey;
    margin-top: -20px;
}
.icon-list{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
    justify-content: space-between;
}
.btn-b{
    text-align: center;
    padding-top: 10px;
}
.OS-header{
    margin-left: 460px;
    color: rgb(83, 78, 78);
}
.OS-desc{
    margin-left: 420px;
    padding-top: 10px;
    color: gray;
}
.OS-desc_b{
    margin-left: 550px;
    margin-top: -20px;
    color: gray;
}
.OS-banner{
    padding-top: 100px;
    padding-bottom: 100px;
}

._footer{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
}
.footer-link{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
    justify-content: stretch;
}
.footer-link_b{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
    justify-content: stretch;
}
.icon-list_b{
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-left: 37px;
    justify-content: stretch;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid#fff;
    margin: 86px 92px;
    box-shadow: 0px 1px 2px 2px #f4f4f4;
    border-radius: 10px;
}

footer{
    background: rgb(243, 239, 239)
} */

/* MAIN STYLES */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
    font-family: 'Bai Jamjuree';
    font-size: 18px;
    margin: 0;
}

.container {
    text-align: center;
    padding: 0 0;
    box-sizing: border-box;
}

p {
    font-size: 18px;
    line-height: 1.5em;
    color: hsl(201, 11%, 66%);
}

h1,h2, h3, h4 {
    color: hsl(210, 10%, 33%);
}

.logo {
    margin-top: 120px;
    width: 10%;
}

header {
    /* display: flex; */
    width: 100%;
    background-image: url('../image/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-color: rgb(253, 253, 253);
}

.header-title {
    padding: 0.2em 5em 0em 5em;
    margin: 1.2em 2em;
    font-size: 42px;
}

.header-desc {
    margin: -1.7em .5em 0 .5em;
}

.header-btn {
    margin-top: 2em;
}

.ios-btn {
    text-decoration: none;
    border-radius: 24px;
    background: hsl(171, 66%, 44%);
    box-shadow: 0px 2px 5px 1px hsl(171, 66%, 44%);
    color: white;
    padding: .5em 2em;
    margin: .5em 0.5em;
}

.mac-btn {
    text-decoration: none;
    border-radius: 24px;
    background: hsl(233, 100%, 69%);
    box-shadow: 0px 2px 5px 1px hsl(233, 100%, 69%);
    color: white;
    padding: .5em 2em;
    margin: .5em 0.5em;
}

._desc {
    margin-top: 8em;
}

.desc-title {
    font-size: 38px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.img-1 {
    margin-top: 5em;
    margin-left: 0.5em;
    width: 80%
}

.content-wrapper {
    display: flex;
    flex-flow: column;
    text-align: justify;
    margin-top: 6em;
    margin-right: 10em;
    
}

.content-wrapper h4 {
    font-size: 24px;
    padding-right: 6em;
    margin-top: 0.3em;
}
.content-wrapper p {
    margin-top: -1.5em;
    margin-top: -1em;
    padding: .2em 0em;
}

.card {
    margin-top: 6em;
}

.card-title {
    font-size: 38px;
}

.card-img {
    margin-top: 2em;
    width: 55%
}

.wrapper-2 {
    margin-top: 4em;
}

.flow-title {
    font-size: 38px;

}

.wrapper-2 p {
    margin-top: -2em;
}

.content-wrapper2 {
    display: flex;
    justify-content: space-evenly;
    margin: 4em 4em 0 4em;
}

.content-wrapper2 h4 {
    font-size: 24px;
    padding-top: 0.5em;
}

.content-wrapper2 p {
    padding-top: 1em;
    line-height: 1.5em;
}

 .content-wrapper2 div:nth-child(1) img {
    height: 14%;
}

.icon-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 6em 2em 0 0em;
}

.OS-banner {
    margin-top: 8em;
}

.OS-header {
    font-size: 38px;
}
.OS-desc {
    margin-top: -1em;
    line-height: 1.5em;

}

.btn-b {
    margin-top: 4em;
}

.OS-banner {
    margin-bottom: 10em;
}

._footer {
    display: flex;
    justify-content: space-around;
}

footer {
    background: hsl(0, 0%, 95%);
    height: 200px;
}

.footer-img {
    height: 4em;
    margin: 3.2em 4em 0 0;
    padding: 0 0 0 3em;
}

.footer-link {
    padding: 2em 0em;
    margin: 1em -6em;
}

.footer-link li {
    list-style-type: none;
    margin-left: -1em;
    text-align: justify;
    line-height: 2em;
    color: hsl(210, 10%, 33%);
}

.social {
    margin-right: 2em;
}
.icon-list_b li {
    list-style-type: none;
    display: inline-flex;
    margin-top: 4em;
    padding: 0 .5em;
}

/* Media Queries */

/* @media only screen and (max-width: 375px) {
    .logo {
        width: 20%;
        margin: 8em 0 0 0;
    }
    
    .header-wrapper {
        /* background-image: url('../image/bg-header-mobile.png'); */
        /* background-repeat: no-repeat; */
        /* background-color: rgb(253, 253, 253); */
        /* margin-right: 50px; */
    /* } 
 
    h2.header-title {
        margin: 1em .5em 0em .5em;
        padding: .5em .2em 0 .2em;
        font-size: 32px;
    }

    p.header-desc {
        margin: 1em .5em;
        padding: .2em 1em;
    }
     */
    /* .header-btn {
        display: flex;
        flex-flow: column;
    }

    .ios-btn {
        text-decoration: none;
        border-radius: 24px;
        background: hsl(171, 66%, 44%);
        box-shadow: 0px 2px 5px 1px hsl(171, 66%, 44%);
        color: white;
        padding: .5em 2em;
        margin: .5em 2em;
    }

    .mac-btn {
        text-decoration: none;
        border-radius: 24px;
        background: hsl(233, 100%, 69%);
        box-shadow: 0px 2px 5px 1px hsl(233, 100%, 69%);
        color: white;
        padding: .5em 2em;
        margin: .5em 2em;
    }
}  */
